@{
	ViewData["Title"] = "Home Page";
}


<div class="hero p-4 rounded-3 bg-light shadow-sm mb-4">
	<div class="d-flex flex-column flex-md-row align-items-start justify-content-between">
		<div>
			<h2 class="display-6">Welcome to Cars page to see cars  <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">click here</a></h2>


		</div>

	</div>
</div>


